snippet solveone ""
	Заведём функцию solveone, которая будет решать задачу для одного набора входных данных. Считаем данные и сделаем вывод результатов solveone (пока функция будет возвращать заглушку).

